DATABASE_URL="mongodb://0.0.0.0:27017/Etutor"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace_with_a_generated_random_secret"
NEXT_PUBLIC_API_URL="http://localhost:3000"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_CLOUD_NAME=your_cloud_name
NEXT_PUBLIC_UPLOAD_PRESET=your_upload_preset
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
